
{% extends 'app/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>О нашем магазине бижутерии</h2>
    <p>
        Добро пожаловать в наш удивительный магазин бижутерии! Мы предлагаем широкий ассортимент украшений,
        созданных с любовью и вниманием к деталям. Наши украшения подчеркнут ваш стиль и придадут неповторимый
        вид любому образу.
    </p>
    <p>
        Мы стремимся предоставить вам качественные изделия по доступным ценам. Наша команда усердно работает,
        чтобы удовлетворить все ваши желания в мире бижутерии. Спасибо, что выбираете нас!
    </p>
</div>
{% endblock %}