<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <style>
        .container{
            display:flex;
            flex-direction: column;
            align-items:center;
            }
        .image{
            width:100px;
            height:100px;
            }

    </style>
</head>
<body>
    <div class="container">
        <h1>Products</h1>
        {% for product in products %}
            <img class="image"  src="{{product.img_url}}" alt="#">
            <a href="{% url 'detail' product.id %}"><h3>{{product.title}}</h3></a>
        {% endfor %}

    </div>
</body>
</html>