<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        .container{
            display:flex;
            flex-direction: column;
            align-items:center;
            }
        .image{
            width:100px;
            height:100px;
            }
        .menu{
            display:flex;
            flex-direction:row;
            align-items:center;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="menu">
            <h1 style="margin-right:20px;">Products</h1>
            <div class="cart">
                <a href="{% url 'cart:shopping_cart' %}">Корзина</a>
                {% comment %} <span>
                    Товаров в корзине : {{request.session.cart_products|length}}
                </span> {% endcomment %}
                <div>
                    Товаров в корзине : <span class="cart-items">{{request.session.cart_products|length}}</span>
                </div>
            </div>
        </div>

        {% for product in products %}
            <img class="image"  src="{{product.img_url}}" alt="#">
            <a href="{% url 'app:detail' product.id %}" ><h3>{{product.title}}</h3></a>

                {% comment %} <a href="{% url 'cart:get_to_cart' product.id %}">Добавить в корзирну</a> {% endcomment %}
            <button class="addToCartBtn" type="button" data-index="{{product.id}}">Добавить в корзирну</button>
        {% endfor %}

    </div>


<script type="text/javascript">

    
    $('.addToCartBtn').click(function(e){
    e.preventDefault();
    var _vm=$(this);
    var _productId =$(this).data('index');
    
    $.ajax(
    {
        
        url: "{% url 'cart:get_to_cart_for_btn' %}",
        type : 'POST',
        data:{
                 'id':_productId,
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 action: 'post'
        },
        dataType:'json',
        beforeSend:function(){
            _vm.attr('disabled',true);
            },
        success:function(res){
            $('.cart-items').text(res.items_in_cart);
            _vm.attr('disabled',false);
            
            
            }
     })
});
</script>

<!--    <script>-->
<!--    $(document).on('click','.addToCartBtn',function(){-->
<!--    var _vm=$(this);-->
<!--    var _productId =$('.addToCartBtn').val();-->
<!--    $.ajax({-->
<!--        url:'cart:get_to_cart_for_btn',-->
<!--        data:{-->
<!--            'id':_productId-->
<!--            },-->
<!--        method: 'GET',-->
<!--        dataType:'json',-->
<!--        beforeSend:function(){-->
<!--            _vm.attr('disabled',true);-->
<!--            },-->
<!--        success:function(res){-->
<!--            $('.cart-items').text(res.items_in_cart);-->
<!--            _vm.attr('disabled',false);-->
<!--            }-->
<!--        });-->
<!--    });-->


<!--    </script>-->
</body>
</html>