<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <style>
    .container{
            display:flex;
            flex-direction: column;
            align-items:center;
            }
        .image{
            width:50px;
            height:50px;
            }
        .row{
            display:flex;
            flex-direction: row;
            align-items:center;
            }
  </style>
</head>
<body>


  <div class="containter">
    {% if products %}
      {% for item in products %}
      <div class="cart">

        <img class="image"  src="{{item.img_url}}" alt="#"><br>
        <span class='title'>title:</span><span>{{item..title}}</span><br>
        <span class='price'>price:</span><span>{{item.price}}</span><br>
        <span class='quantity'>quantity:</span><span>{{item.quantity}}</span><br>
        <span class='total'>total:</span><span>{{item.total}}</span><br>
        <a  href="{% url 'app:detail' item.id%}">к товару</a>
        <div class="row">
          <a style="margin-right:30px;" href="{% url 'cart:plus_item' item.id%}"><h3>+</h3></a>
          <button class="plus_item" type="button" data-index="{{item.id}}"><h3>+</h3></button>

          <a style="margin-right:30px;" href="{% url 'cart:minus_item' item.id%}"><h3>-</h3></a>
        </div>
          

      </div>
      {% endfor %}

    {% else %}
      <h3>В  корзине ничего нет</h3>
    {% endif %}
    
    {% if sum %}
      <h3>Full price is {{sum}}</h3>
    <a href="{% url 'cart:clear_cart'%}"><h1>Clear cart</h1></a>
    {% endif %}

  </div>


<script type="text/javascript">

    
      $('.plus_item').click(function(e){
      e.preventDefault();
      var _vm=$(this);
      var _productId =$(this).data('index');
      alert(_productId);  
      $.ajax(
      {
          
          url: "{% url 'cart:plus_item_btn' %}",
          type : 'POST',
          data:{
                    'id':_productId,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
          },
          dataType:'json',
          beforeSend:function(){
              _vm.attr('disabled',true);
              },
          success:function(res){
  
              _vm.attr('disabled',false);
              
              
              }
        })
      });
  </script>


</body>
</html>